<rewrite>
    <rules>
        <rule name="redirect to twitter" patternSyntax="ExactMatch" stopProcessing="true">
            <match url="@"/>
            <action type="Redirect" url="https://twitter.com/:you" appendQueryString="false"/>
        </rule>
        <rule name="redirect to github" patternSyntax="ExactMatch" stopProcessing="true">
            <match url="~"/>
            <action type="Redirect" url="https://github.com/:you" appendQueryString="false"/>
        </rule>
        <rule name="redirect to google plus" patternSyntax="ExactMatch" stopProcessing="true">
            <match url="+"/>
            <action type="Redirect" url="https://plus.google.com/:you" appendQueryString="false"/>
        </rule>
        <rule name="redirect facebook" patternSyntax="ExactMatch" stopProcessing="true">
            <match url="f"/>
            <action type="Redirect" url="https://facebook.com/:you" appendQueryString="false"/>
        </rule>
        <rule name="redirect to linkedin" patternSyntax="ExactMatch" stopProcessing="true">
            <match url="in"/>
            <action type="Redirect" url="https://linkedin.com/in/:you" appendQueryString="false"/>
        </rule>
    </rules>
</rewrite>
